@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body.default-bg {
  min-height: 100vh;
  background:
    linear-gradient(rgb(5 45 72 / 72%), rgb(0 0 0)),
    url("./assets/0_m0uzkz9Bd5KnoxuE.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.black-bg {
  background: black;
}

@media (max-width: 768px) {
  body {
    background-size:auto
  }
}
main{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          min-height: 100vh;
          gap: 2rem;

       }

      @media (max-width: 768px) {
        main {
          flex-direction: column;
        }
      }

header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}
.header2 {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #ffffff;
  
}
@media (max-width: 320px){
  .header2{
   flex-direction: column;
   gap: .1rem;

  }
  .form2 input{
    width:15rem !important;
  }

}
@media (max-width: 412px){
  .header2{
   flex-direction: column;
   gap: .1rem;

  }
  .form2 input{
    width:15rem !important;
  }

}


label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #dfd9be;
}

input {
  position: relative;
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #b4b6c4;
  border: none;
  border-radius: 4px;
}
.clear{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  width: 10rem;
  margin-top: 1rem;
  
}
.clear button{
  width:6rem
}

.form2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  
}
.form2 input{
  width: 20rem;
} 
form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0.75rem;
  margin: 1rem auto 0 auto;
  background-color: #6277b7;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  color: #191d1e;
  cursor: pointer;
}

form button:hover {
  background-color: #25325a;
}
form  button:disabled:hover {
  background-color: #6277b7;
}
form button:disabled {
 
  cursor: not-allowed;
}
.tasks{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

li {
  background: linear-gradient(rgb(5 45 72 / 72%), rgb(0 0 0));
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li h2 {
  margin: 0;
  font-size: 1rem;
  color: #b1c1c3;
}

li p {
  margin: 0;
  font-size: 0.70rem;
  color: #dfd9be;
}

.fallback {
  text-align: center;
  color: #acd1ce;
}


.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hint{
  border: 3px solid #6277b7;
  height: 5rem;
  padding: 10px;
  margin: 20px 0;
  color: #6277b7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}
.warning{
  height: 6rem;
  border: 3px solid #cca92c;
  margin: 20px 0;
  color: #b9a92c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
  flex-direction: column;
}
.warning h1{
  padding-top:.5rem ;
  margin:3.5rem 0 0 0rem;
  font-size: 1.2rem;
}
.warning p{
  margin: 0 0 2rem 0.40rem;
  font-size: .9rem;
  
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale x(1);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
button,
a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  color: #000000;
  border: none;
  font-size: medium;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  text-decoration: none;
}
.cardBt{
  background-color: #ffffff;
}
button:hover,a:hover {
  background-color: #b4aeae;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: rgb(218, 218, 218);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background:
  linear-gradient(rgb(5 45 72 / 72%), rgb(0 0 0));
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #9cc3cf;
}

.header3 {
   display: flex;
  justify-content: space-between;
  align-items: center;
      padding: 2rem 16%;
  background:
  linear-gradient(rgb(5 45 72 / 72%), rgb(0 0 0))
}

.header3 #main-title {
  display: flex;
  align-items: center;
}

#main-title img {
  width: 5rem;
  margin-right: 1.5rem;
}
.header3 button {
  background: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: #201e1a;
  font-size: 1.25rem;
  cursor: pointer;
}
.header3 button:hover {
  background: #bbb5aa;
}
.header3 h1 {
  color: #fefefc;
  font-family: cursive;
}

#shop {
  width: 70%;
  margin: 2rem auto;
}

#shop h2 {
  font-size: 1.5rem;
  color: #a59b8b;
  text-transform: uppercase;
  margin-left: 13px;
  font-family: cursive;
}

#products
 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 0rem;
}

.product {
  height: 100%;
  background: #393535;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
      height: 17rem;
  border-radius: 6px;
}

.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-content h3 {
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 0.15rem;
      font-family: cursive;
}

.product-price {
  font-size: 1rem;
  color: #68e642;
  margin: 0;
      font-family: cursive;
}

.product-actions {
  text-align: right;
}

.product-actions button {
  background: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #201e1a;
  font-size: 1rem;
  cursor: pointer;
}

.product-actions button:hover {
  background: #bebcb8;
  
}

#cart-modal {
  top: 5rem;
  width: 30%;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}
@media (max-width: 768px) {
 #cart-modal {
    top: 5rem;
  width: 70%;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
    
  }
  .header3 button {
    width: 6rem;
  padding: 0.5rem .5rem;
  color: #201e1a;
  font-size: 1rem;
  cursor: pointer;
}

.header3 h1 {
  font-size: 1.4rem;
  color: #fefefc;
  font-family: cursive;
}
#main-title img {
  width: 3.5rem;
  height: 4rem;
  margin-right: 1.5rem;
}
}

.cart-backdrop {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
}

#cart-modal h2 {
  font-size: 1.5rem;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  font-family: cursive;
}

#cart-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fbd392;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: cursive;
}

.cart-item-actions {
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: cursive;
}

.cart-item-actions button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: cursive;
}

.cart-item-actions button:hover {
  background: #f5b744;
}

.cart-item-actions button:first-of-type {
  padding-bottom: 0.2rem;
}

#cart-total-price {
  text-align: right;
}

#cart-actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

#cart-actions button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #201e1a;
  cursor: pointer;
  font-size: 1.1rem;
}

#cart-actions button:hover {
  color: #453719;
}

#cart-actions button:last-of-type {
  background: #000000;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: #f9efda;
  font-size: 1rem;
  font-family: cursive;
  cursor: pointer;
}

#cart-actions button:last-of-type:hover {
  background: #382e1b;
}

#checkout {
  animation: fade-slide-in-from-right 0.3s ease-in-out;
}

#checkout label {
  display: block;
  margin-bottom: 0.5rem;
}

#checkout input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
}
@media (max-width: 400px) {
  .smallestBG {
    width: 100%;
    background-color: #000000;
    background-size:cover
  }
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

